<div class= "comments">

  <button type="button" class="btn btn-primary btn-xs expand-comments-list">Show comments</button>

  <ol class="<%= post_type %>-comments-list-<%= post.id %> comments-list">
    <% post.comments.each do |comment| %>
      <%= render partial:'comments/show.html.erb', locals:{comment:comment} %>
    <% end %>
  </ol>

  <% if session[:user_id] %>
    <button type="button" class="btn btn-primary btn-xs comment-button">Comment</button>
    <div class="answer-comment-form">
      <%= render partial:'comments/new.html.erb', locals:{post_type:post_type, post:post} %>
    </div>
  <% end %>

</div>

