<%= image_tag "snowboard_fall.jpg", class:"welcome-image" %>

<div class = "body-content">



<h1 class = "text-center">What Inspires Me?</h1>

<h3>People</h3>
<p>Those making investments in robotics, artificial intelligence, and biotechnology in addition to dot.coms - who are investing outside of their comfort zone and funding ideas instead of traction. Namely the Peter Theils and the Elon Musks of the world.</p>

<h3>Science</h3>
<p>Epigenetics research, neuroscience breakthroughs, quantum mechanics revelations - basically anything that is awesome and positively impacting others.</p>

<h3>Technology</h3>
<p>Hyperloop, drones, Tessel, edtech, healthtech, </p>

<h3>Practices</h3>
<p>Meditation, traveling, snowboarding, surfing, and anything that brings perspective, pushes the boundaries, and reminds me of life's beauty.</p>

<hr>
<br><br><br><br>
<hr>

</div>

