<section id="slide-1" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-1"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-center="opacity: 1"
                data-106-top="opacity: 0"
                data  -anchor-target="#slide-1 h2"
            >
                <h2>Fade out elements before <br>they leave viewport</h2>
            </div>
        </div>
    </div>
</section>





<div class = "body-content">


  <div class = "content-header">
    <h1 class = "text-center">My Story</h1>
    <hr>
  </div>

  <p>Software at its core is a set of instructions for improving the ways we live. It's how we embrace different ideas, it's how we collaborate to solve new problems together, and it's how we react to change. I develop software because my passion lies in building the unique products that tell these stories.</p>

  <p>I’m a USC Marshall Business School graduate whose experience at Eventbrite sparked my initial passion for coding and my desire to become a web developer. Having just completed Dev Bootcamp, I am a self-starter who thrives in team environments and is capable of tackling tough projects with little direction. I have a thirst for new knowledge and am passionate about my continued learning and self-development as a software engineer.</p>
  <hr>




<br><br>
</div>


<section id="slide-4" data-content-offset="90p" class="homeSlide homeSlideTall" style="height: 1470px;">
                <div class="bcg skrollable skrollable-between" data-bottom-top="background-position: 50% 100px" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-4" style="background-position: 50% 32.0775623268698px;">
                    <div class="curtainContainer">
            
                        <div class="curtain skrollable skrollable-between" data-bottom-top="opacity: 0; height: 1%;" data-106-top="height: 1%; opacity: 0; top: -10%;" data-center="height: 100%; opacity: 0.5; top: 0%;" data-top-bottom="height: 100%; opacity: 0.5; top: 0%;" data-anchor-target="#slide-4" style="opacity: 0.28486646884273; height: 57.4035608308605%; top: -4.3026706231454%;"></div>
                       
                        <div class="copy skrollable skrollable-before" data-bottom-top="opacity: 0.5" data--100-bottom="opacity: 0.5" data--280-bottom="opacity: 1;" data-280-top="opacity: 1;" data-106-top="opacity: 0;" data-anchor-target="#slide-4 .copy" style="opacity: 0;">
                          <blockquote>

    <p>“The greatest mistake you can make in life is to continually be afraid you will make one.”</p>

    <footer>Elbert Hubbard</footer>

  </blockquote>

                        </div>
                        
                    </div>
                </div>
            </section>

<div class = "body-content">

<div class = "content-header">
  <h1 class = "text-center">What Inspires Me?</h1>
  <hr>
</div>

<h3>People Effecting Change</h3>
<p>Those making investments in robotics, artificial intelligence, and biotechnology in addition to dot.coms - who are investing outside of their comfort zone and funding ideas instead of traction. Namely the Peter Theils and the Elon Musks of the world.</p>

<h3>Science Pushing Boundaries</h3>
<p>Epigenetics research, neuroscience breakthroughs, quantum mechanics revelations - basically anything that is awesome and positively impacts others.</p>

<h3>Technology Empowering People</h3>
<p>Ambitious projects like Internet.org and the Hyperloop. Products like GoPro and ... I like to dream big and I someday hope to build products and projects like these.</p>

  <h3>Practices That Bring Me Peace</h3>
  <p>Meditation, traveling, snowboarding, surfing, and anything that brings perspective, pushes the boundaries, and reminds me of life's beauty.</p>

  <hr>




</div>


    <div class = "welcome-photos">
    <%= image_tag("dbc.jpg", class:"image-responsive dbc-photo") %>
    <%= image_tag("taiwan.jpg", class:"image-responsive taiwan-photo") %>
    </div>


