
<%= image_tag "snowboard_fall.jpg", class:"welcome-image" %>

<div class = "body-content">


  <div class = "content-header">
    <h1 class = "text-center">My Story</h1>
    <hr>
  </div>

  <p>I’m a recent USC Marshall Business School student turned web developer. other intor stuff here .....</p>

<br><br><br>
  <hr>




<h1>More Photos Here</h1>
<br><br><br>
  <hr>




<div class = "content-header">
  <h1 class = "text-center">What Inspires Me?</h1>
  <hr>
</div>

<h3>People Effecting Change</h3>
<p>Those making investments in robotics, artificial intelligence, and biotechnology in addition to dot.coms - who are investing outside of their comfort zone and funding ideas instead of traction. Namely the Peter Theils and the Elon Musks of the world.</p>

<h3>Science Pushing Boundaries</h3>
<p>Epigenetics research, neuroscience breakthroughs, quantum mechanics revelations - basically anything that is awesome and positively impacts others.</p>

<h3>Technology Empowering People</h3>
<p>Ambitious projects like Internet.org and the Hyperloop. Products like GoPro and ... I like to dream big and I someday hope to build products and projects like these.</p>

<!-- <h3>Untapped Opportunities</h3>
  <p>I think developing nations offer an enormous opportunity for burgeoning software and hardware engineers to create educational and social utility tools that can help fuel emerging economies. This is something that </p> -->

  <h3>Practices That Bring Me Peace</h3>
  <p>Meditation, traveling, snowboarding, surfing, and anything that brings perspective, pushes the boundaries, and reminds me of life's beauty.</p>

  <hr>
  <br><br><br><br>
  <hr>

</div>
