<section id="slide-1" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-1"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-center="opacity: 1"
                data-106-top="opacity: 0"
                data  -anchor-target="#slide-1 h2"
            >
                <h2>Fade out elements before <br>they leave viewport</h2>
            </div>
        </div>
    </div>
</section>




<div class = "body-content">


  <div class = "content-header">
    <h1 class = "text-center">My Story</h1>
    <hr>
  </div>

  <p>I’m a recent USC Marshall Business School student turned web developer. other intor stuff here .....</p>
  <hr>




<br><br>
</div>

<section id="slide-9" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-9"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-center="opacity: 1"
                data-106-top="opacity: 0"
                data  -anchor-target="#slide-9 h2"
            >

            </div>
        </div>
    </div>
</section>


<div class = "body-content">

<div class = "content-header">
  <h1 class = "text-center">What Inspires Me?</h1>
  <hr>
</div>

<h3>People Effecting Change</h3>
<p>Those making investments in robotics, artificial intelligence, and biotechnology in addition to dot.coms - who are investing outside of their comfort zone and funding ideas instead of traction. Namely the Peter Theils and the Elon Musks of the world.</p>

<h3>Science Pushing Boundaries</h3>
<p>Epigenetics research, neuroscience breakthroughs, quantum mechanics revelations - basically anything that is awesome and positively impacts others.</p>

<h3>Technology Empowering People</h3>
<p>Ambitious projects like Internet.org and the Hyperloop. Products like GoPro and ... I like to dream big and I someday hope to build products and projects like these.</p>

  <h3>Practices That Bring Me Peace</h3>
  <p>Meditation, traveling, snowboarding, surfing, and anything that brings perspective, pushes the boundaries, and reminds me of life's beauty.</p>

  <hr>
  <br><br><br><br>
  <hr>



</div>




    <div class = "welcome-photos">
    <%= image_tag("dbc.jpg", class:"image-responsive dbc-photo") %>
    <%= image_tag("taiwan.jpg", class:"image-responsive taiwan-photo") %>
    </div>







<!-- <br><br><br><br><br><br><br><br><br>

<section id="slide-4" class="homeSlide homeSlideTall">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-bottom-top="background-position: 50% 100px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-4"
    >
        <div class="curtainContainer">
            <div class="curtain"
                data-bottom-top="opacity: 0"
                data-106-top="height: 1%; top: -10%; opacity: 0;"
                data-center="height: 100%; top: 0%; opacity: 0.5"
                data-anchor-target="#slide-4"
            ></div>
            <div class="copy"
                data-bottom-top="opacity: 0"
                data--100-bottom="opacity: 0"
                data--280-bottom="opacity: 1;"
                data-280-top="opacity: 1;"
                data-106-top="opacity: 0;"
                data-anchor-target="#slide-4 .copy"
            >
                <h2>Curtain effect while you scroll</h2>
            </div>
 
        </div>
    </div>
</section>

<section id="slide-5" class="homeSlide homeSlideTall2">
    <div class="bcg">&nbsp;</div>
    <div class="bcg bcg2"
        data-bottom-top="opacity: 0;"
        data--33p-top="opacity: 0;"
        data--66p-top="opacity: 1;"
        data-anchor-target="#slide-5"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-bottom-top="opacity: 0;"
                data-center="opacity: 1"
                data-anchor-target="#slide-5"
            >
                <h2>Fixed element fading in and out</h2>
            </div>
        </div>
    </div>
    <div class="bcg bcg3"
        data-300-bottom="opacity: 0;"
        data-100-bottom="opacity: 1;"
        data-anchor-target="#slide-5"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-100-bottom="opacity: 0;"
                data-bottom="opacity: 1;"
                data-anchor-target="#slide-5"
            >
                <h2>The End</h2>
            </div>
        </div>
    </div>
</section> -->