.container {
  margin-top:50px;
  padding:0px;
  width:89%;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(230, 225, 230, 0.8), -12px 0 15px -4px rgba(230, 225, 230, 0.8);
}
header {
  background-color:#3399FF;
}


header img{
  width: 20px;
  height: 20px;
  margin-left:3px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

header .dropdown {
  color:black;
  cursor:pointer;
  float:left;
  margin-left:40px;
  position:relative;
  top:10px;
}

header .glyphs {
  text-align:right;
  float:right;
 /* width:100px;*/
  margin-right:10px;
  position:relative;
  top:10px;
}

header .name {
/*  border:solid 1px white;
*/  height:auto;
  width:200px;
  margin:0 auto;
  text-align:center;
  clear:both;
  color:white;
  text-decoration: none;
  font-family: 'daniel', cursive;
}

.nav-menu {
  display:none;
  width:;
  width:100%;
  max-width:100%;
  background-color:white;
  text-align:center;
  height:50px;
 font-family: 'Poiret One', cursive;
}

.nav-menu ul {
  position:relative;
  top:25%;
  list-style:none;
  display:inline;
}

.nav-menu ul li {
  padding-left:20px;
  display:inline;
}

.nav-menu ul li a {
  text-decoration:none;
}



.welcome-image {
  width:100%;
}

.body-content {
 padding:0px 200px 0px 200px;
}

.content-header {
  width:500px;
  margin:0 auto;
  font-family: 'daniel', cursive;
}

.content-header hr {
  border-bottom:solid 2px black;
  width:200px;
}




.footer{
  height:90px;
  padding:0px 100px 0px 100px;

}

footer blockquote {
  border-left:none;
  width:50%;
  float:right;
  font-size:1.2em;
  font-family: 'Gloria Hallelujah', cursive;
}



footer .glyphicon-envelope{
  text-decoration:none;
  position:relative;
  top:30px;
  float:left;
}

footer a {
  color:black;
}






