#resume {
  width:80%;
  height:80%;
  margin:0 auto;
/*  border:dashed 1px grey;*/
  padding-right:30px;
  /*text-align:center;*/
}

#resume img {
  height:auto;
  /*margin-right:50px;*/
  width:100%;

}
