<footer>

  <h1 class = "text-center">Footer goes here</h1>

  <blockquote>

    <p>The will to win, the desire to succeed, the urge to reach your full potential... these are the keys that will unlock the door to personal excellence.</p>
    <footer>Confucius</footer>

  </blockquote>

  <%=
  link_to("https://www.facebook.com/patrick.lauer.9") do 
    image_tag "glyphicons_social_30_facebook.png"
  end
  %>
  <%=
  link_to("https://twitter.com/plauer411") do 
    image_tag "glyphicons_social_31_twitter.png"
  end
  %>
  <%=
  link_to("https://www.linkedin.com/in/patricklauer") do 
    image_tag "glyphicons_social_17_linked_in.png" 
  end
  %>
  <%=
  link_to("https://github.com/plauer") do 
    image_tag "glyphicons_social_21_github.png" 
  end
  %>
 
</footer>