<footer class = "footer">

  <blockquote>

    <p>Don't cry because it's over. Smile because it happened.</p>
    <footer>Dr. Seuss</footer>

  </blockquote>

  <div class = "glyphs">

  <%=
  link_to("https://www.facebook.com/patrick.lauer.9") do 
    image_tag "glyphicons_social_30_facebook.png"
  end
  %>
  <%=
  link_to("https://twitter.com/plauer411") do 
    image_tag "glyphicons_social_31_twitter.png"
  end
  %>
  <%=
  link_to("https://www.linkedin.com/in/patricklauer") do 
    image_tag "glyphicons_social_17_linked_in.png" 
  end
  %>
  <%=
  link_to("https://github.com/plauer") do 
    image_tag "glyphicons_social_21_github.png" 
  end
  %>

  </div>
 
</footer>