<header >
<div class="dropdown">
<!--     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"> -->
    <span class="glyphicon glyphicon-align-justify" data-toggle="dropdown"></span>
<!--     </button> -->
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Home</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Blog</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gallery</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Projects</a></li>
       <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Resume</a></li>
    </ul>
  </div>



    <div class = "glyphs">

  <%=
  link_to("https://www.facebook.com/patrick.lauer.9") do 
    image_tag "glyphicons_social_30_facebook.png"
  end
  %>
  <%=
  link_to("https://twitter.com/plauer411") do 
    image_tag "glyphicons_social_31_twitter.png"
  end
  %>
  <%=
  link_to("https://www.linkedin.com/in/patricklauer") do 
    image_tag "glyphicons_social_17_linked_in.png" 
  end
  %>
  <%=
  link_to("https://github.com/plauer") do 
    image_tag "glyphicons_social_21_github.png" 
  end
  %>

  </div>

    <div class = "name">
    <h3 class = "text-center">Pat Lauer</h1>
  </div>
  

</header>